.nav {
    grid-area: n;
    background-color: #24282C;
    padding: 10px;
}

.item a {
   color: white;
   text-decoration: none;
}

.item a.activeLink {
    color: gold;
}


.friend {
    float: left;
 }